<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336821839117-41p6mk1q2ee23t003l5ph7ggkamej156.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336821839117-41p6mk1q2ee23t003l5ph7ggkamej156</string>
	<key>API_KEY</key>
	<string>AIzaSyB5rTciNZktQjzXQ9RjcdnBFLtblUGfC8o</string>
	<key>GCM_SENDER_ID</key>
	<string>336821839117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.on-spark</string>
	<key>PROJECT_ID</key>
	<string>on-spark</string>
	<key>STORAGE_BUCKET</key>
	<string>on-spark.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336821839117:ios:74bd0419b82ec3172c7c44</string>
</dict>
</plist>